.wrapper {
    display: flex;
    align-items: center;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    text-decoration: none;
    color: rgba(22, 24, 35, 1.0);
}
.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin: 9px 12px 9px 16px
}

.infor {
    flex: 1
}

.nickname {
    span {
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        padding-right: 10px;
    }

    .icon {
        color: rgb(32, 213, 236);
        font-size: 1.4rem;
    }
}

.name {
    font-size: 1.4rem;
    line-height: 20px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400
}
