.wrapper {
    position: relative;
    padding: 20px 16px 24px 16px;
    &::before {
        content: "";
        position: absolute;
        height: 1px;
        left: 8px;
        right: 8px;
        background: rgba(22, 24, 35, .12);
        transform: scaleY(.5);
        top: 160px;
    }   
    .hide {
        display: none;
    }
}

.title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 16px;
    line-height: 22px;
}

.btn {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: rgba(254, 44, 85, 1.0);
    border-color: rgba(254, 44, 85, 1.0);
    background-color: rgba(255, 255, 255, 1.0);
    min-width: 168px;
    min-height: 48px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    user-select: none;
    margin-top: 20px;
    width: 100%;
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
        cursor: pointer;
    }
}