.account {
    display: flex;
    padding: 8px 16px;
    margin-left: 4px;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
    .img {
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
    }

    .name {
        display: flex;
        flex-direction: column;
    }

    .nickname {
        color: rgb(22, 24, 35);
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        margin-top: -2px;
        max-width: 260px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        }

    .icon {
        font-size: 1.3rem;
        color: rgb(32, 213, 236);
        margin-left: 3px;
    }

    .fullname {
        color: rgba(22, 24, 35, 0.75);
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        max-width: 260px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.wrapper {

    .title {
        padding: 16px 8px 0px 8px;
        margin-bottom: 8px;
        margin-left: 8px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: rgba(22, 24, 35, 0.75);
        
    }

    .seeall {
        color: rgb(254, 44, 85);
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        margin-left: 8px;
        padding: 8px 8px 0px 8px;
        &:hover {
            cursor: pointer;
        }
    }
}

.seeall {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        height: 1px;
        left: 8px;
        right: 8px;
        background: rgba(22, 24, 35, .12);
        transform: scaleY(.5);
        top: 45px;
    }  

}

.typpybox {
    width: 320px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    border-radius: 8px;     

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .img {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            object-fit: cover;
        }
        .btn {
            border-radius: 4px;
            border: none;
            color: rgb(255, 255, 255);
            background-color: rgb(254, 44, 85);
            min-width: 106px;
            min-height: 28px;
            height: 34px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            padding: 6px 8px;
            cursor: pointer;
            box-sizing: border-box;
            &:hover {
                background-color: #ef2950
            }
        }
    }

    .name {
        display: flex;
        flex-direction: column;
        .nickname {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: rgba(22, 24, 35, 1.0);
            margin-top: 15px;
        }
        .fullname {
            color: rgba(22, 24, 35, 1.0);
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
        }
    }

    .likeandfollow {
        margin-top: 15px;
        .follower {
            font-weight: 700;
            margin-right: 6px;
            font-size: 17px;
            line-height: 20px;
            display: inline-block;
            span {
                color: rgba(22, 24, 35, 0.75);
                font-size: 17px;
                line-height: 20px;
                display: inline-block;
                margin-right: 12px;
                margin-left: 6px;
            }
        }
        .like {
            font-weight: 700;
            margin-right: 6px;
            font-size: 17px;
            line-height: 20px;
            display: inline-block;
            span {
                color: rgba(22, 24, 35, 0.75);
                font-size: 17px;
                line-height: 20px;
                display: inline-block;
                margin-right: 12px;
                margin-left: 6px;
            }
        }
    }

}